@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 100vw;
    block-size: 100vh;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    inline-size: 100vw;
    block-size:100vh;
    font-family: OutFit;
    justify-content: center;
    padding-block: 2rem;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    color: white;
    font-size: 18px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 'Outfit';
    background-color: hsl(216, 50%, 16%);
    inline-size: 375px;
    block-size: auto; 
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 0 15px 10px 8px rgba(7, 1, 19, 0.5);
}

.margin{
    margin-inline: 0;
    margin-block: 20px;
}
.image{
    flex: 0 0 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-block-end:1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    block-size: auto;
}
.view{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(215, 52%, 70%, 0.527);
    border-radius: 1rem;
    inline-size: 100%;
    block-size: 100%;
    opacity: 0;
}
.image .view:hover{
    opacity: 1;
    cursor: pointer;
}

.cap{
    display: contents;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    width: fit-content;
    height: 100%;
}

.eth{
    inline-size: 100%;
}

a:hover{
    color:hsl(215, 51%, 70%);
    cursor: pointer;
    
}

.note{
    color:hsl(215, 51%, 70%);
    inline-size: 100%;
    block-size: 100%;
}

.price-time{
    display: inline-flex;
    align-items: center;
    justify-content:space-between;
    inline-size: 100%;
    block-size: 100%;
}
.time{
    color: hsl(215, 51%, 70%);
}

.price{
    color: hsl(178, 100%, 50%);
}

#price, #time{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
hr{
    height: 0.1em;
    background-color: hsl(215, 51%, 50%);
    border: 0;
}

.own{
    inline-size: 25px;
    border-radius: calc(25px/2);
    border: 1px solid white;

}
.creator{
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    font-weight: 400;
}

.early{
    color: hsl(215, 51%, 70%);
}
